.image-container {
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;

}

.image-container img {
    width: auto;
    height: 350px;
    padding: 20px;
    border: 2px solid black;
}
